@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .nav-link {
    @apply flex items-center gap-x-3 font-roboto  hover:bg-violet-600 transition p-2 rounded-sm;
  }

  .nav-hover {
    @apply;
  }
}
